
/* Media Query para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
    .main-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 35px;
    }
    .main-header .logo{
        width: 25%;
        height: auto;
        margin-left: -20px;
        margin-right: 5px;
    }
    .main-header h1{
        font-size: 17px;
        color: #C75B7A;
        letter-spacing: -1px;
        word-spacing: -7px;
        line-height: 1.1;
        font-weight: bold;
    }
    .titulo{
        color: #C75B7A;
        text-decoration: none;
    }
    .titulo:hover{
        color: #C75B7A;
    }
    .products-section h2 {
        font-size: 28px;
        margin-bottom: 5px;
        word-spacing: -5px;
     }
    .nav-links {
        display: none;
    }
    .nav-links a{
        color:#C75B7A;
    }
    .product-gallery {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /*  columnas */
    }
    .menu-toggle{
        display: block;
        font-size: 3rem;
        background: none;
        border: none;
        box-shadow: none;
        cursor: pointer;
        color: #C75B7A;
        padding: 0;
        position: absolute;
        right: 20px;
        top: 10px;
    }
    .mobile-menu{
        display: none;
        background-color: #F6F5F2;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        height: 100%;
        outline: none;
        box-shadow: none;
        z-index: 1000;
    }
    .mobile-menu.activate{
        display: block;
    }
    .hero-section h2 {
        font-size: 40px;
        margin-bottom: 10px;
    }

    .mobile-menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .mobile-menu li {
        margin: 0.5rem 0;
    }

    .mobile-menu a {
        text-decoration: none;
        color: #C75B7A;
        font-size: 1.2rem;
    }

    .mobile-menu.active {
        display: block; /* Mostrar menú desplegable al hacer clic */
    }
    .mobile-only {
        display: block;
        margin-top: 10px;
    }
    .mobile-only h2{
        font-size: 25px;
        font-weight: bold;
        color: #643843;
    }
    .mobile-only p{
        font-size: 25px;
        
    }
    /*.new-products-carousel{
        display: flex;
        overflow-x: auto;
        white-space: nowrap;
        gap: 10px;
        padding: 10px;
    }*/
    
    .new-products-images{
        display: flex;
        overflow-x: auto; /*habilita el desplazamiento horizontal*/
        white-space: nowrap;
        scroll-behavior: smooth;
        padding: 10px;
        gap: 5px;
        -webkit-overflow-scrolling: touch;
    }
    .image-item{
        display: inline-block;
        text-align: center;
        width: 150px;
    }
    .image-item p{
        font-size: 15px;
        color: #643843;
    }
    .new-products-images img{
        height: 150px;
        width: auto;
        display: block;
        border-radius: 3px;
        cursor: pointer;
    }
    .new-products-description{
        margin-top: 5px;
        font-size: 0px;
        color: #643843;
    }
    .whatsapp-link{
        color:#643843;
    }

    .products-section {
        padding: 10px;
    }

    .product-card {
        max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
        height: auto;    /* Mantiene la proporción original */
        display: block;  /* Evita espacios extra alrededor de las imágenes */
    }
    .product-card p{
        font-size: 14px;
        line-height: 1.5;
    }

    h1 {
        font-size: 1.5rem;
    }
    .carousel{
        margin: 0;
        padding: 0;
        background-color: transparent;
    }
    .image-carousel{
        position: relative;
        max-width: 100%;
        overflow: hidden;
    }
    .carousel-section {
        position: relative;
        overflow: hidden;
        background-color: transparent; /* Cambia el fondo a transparente si es necesario */
        padding: 0; /* Elimina cualquier padding adicional */
        margin: 0;
        width: 100%;
        height: auto;
    }
    .carousel-inner{
        position: relative;
        z-index: 0;
        width: 100%;
        height: 400px;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.5);
        max-height: 400px;
        min-height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 0;
        margin: 0;
    }
    .carousel-inner img {
        position: absolute;
        width: 100%;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        margin: 0;
        padding: 0;
    }
    .carousel-inner .item{
        margin: 0;
        position: relative;
        flex-shrink: 0;
        width: 100%;
        transition: transform 0.5s ease-in-out;
        background-color: transparent;
    }
    .carousel-inner .item img{
        height: auto;
        object-fit: cover;
    }
    .carousel-container{
        position: relative;
        width: 100%;
        height: 300px;
        overflow: hidden;
    }
    .carousel-track{
        display: flex;
        transition: transform 0.5s ease-in-out;
    }
    .carousel-item{
        min-width: 100%;
        flex-shrink: 0;
    }
    .carousel-container img {
        width: 100%; /* Cada imagen ocupa el 100% del ancho del contenedor */
        height: auto;
        object-fit: cover; /* Asegura que la imagen se recorte correctamente si es necesario */

    }
    .carousel-item img{
        width: 100%;
        height: auto;
    }
    .carousel-prev,
    .carousel-next{
       position: absolute;
       top: 50%;
       transform: translateY(-50%);
       background-color: rgba(0, 0, 0, 0.5);
       color: #fff;
       border: none;
       cursor: pointer;
       padding: 10px;
       z-index: 10;
       max-width: 100%;
    }
    .carousel-prev{
       left: 10px;
    }
    .carousel-next{
       right: 10px;
    }
    .carousel-caption{
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        text-align: center;
        z-index: 2;
    }
    .carousel-caption h2 {
        font-size: 24px; /* Cambia el tamaño del título en pantallas más pequeñas */
    }
    .carousel-caption p {
        font-size: 14px; /* Cambia el tamaño del texto de la descripción en pantallas más pequeñas */
    }
    .carousel .carousel-indicators{
        position: absolute;
        bottom: 160px;
        z-index: 10;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
        margin: 0;
        list-style: none;
    }
    .carousel-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        padding: 20px;
        box-sizing: border-box;
    }
    
    .carousel-overlay h2 {
        font-size: 2rem;
        margin: 0 0 10px;
    }
    
    .carousel-overlay p {
        font-size: 1.2rem;
        margin: 0 0 20px;
    }
    
    .carousel-overlay .btn {
        display: inline-block;
        padding: 10px 20px;
        font-size: 1rem;
        color: white;
        background-color: #ff69b4; /* Color del botón */
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s;
    }
    
    .carousel-overlay .btn:hover {
        background-color: #ff1493; /* Color al pasar el mouse */
    }
    .carousel .carousel-indicators li {
        width: 14px; /*tamaño del punto*/
        height: 14px;
        background-color: #C75B7A; /* Color de los indicadores */
        border-radius: 50%; /* Hacerlos circulares */
        margin: 0 5px;
        cursor: pointer;
        opacity: 0.7;
    }
    
    .carousel .carousel-indicators .active {
        background-color: #F6F5F2; /* Cambia el color para el indicador activo */
        opacity: 1;
    }
    .carousel-control{
        position: absolute;
        top: 0;
        bottom: 0;
        width: 10%;
        background-color: rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }
    .carousel-control span{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 30px; /*tamaño de la flecha*/
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .explore-button{
        padding: 10px 20px;
        background-color: #643843; /* Color del botón */
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        font-size: 1.4rem;
        z-index: 20; /* Por encima del fondo */
        pointer-events: auto; /* Asegura la interacción */
    }
    .explore-button:hover {
        background-color: #854b5b; /* Color al pasar el mouse */
    }
    /*.left carousel-control{
        left: 0; distancia del borde izquierdo
    }
    .right carousel-control{
        right: 0;
    }*/
    .carousel, .image-carousel, .carousel-section, .carousel-inner, .carousel-container {
        overflow: hidden; /* Asegúrate de que todo el contenido que se desborda quede oculto */
    }
    .custom-controls {
        position: absolute;
        top: 50%; /* Centra los controles verticalmente */
        left: 50%; /* Centra los controles horizontalmente */
        width: 100%;
        display: flex;
        justify-content: space-between; /* Espaciado entre los controles */
        transform: translate(-50%, -50%); /* Ajuste para centrar exactamente los controles */
        z-index: 10;
    }
    .custom-controls button {
        background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
        border: none;
        color: white;
        font-size: 30px;
        padding: 10px;
        cursor: pointer;
        border-radius: 50%; /* Hace los botones circulares */
        transition: background-color 0.3s;
        width: 50px; /* Ajusta el tamaño de los botones */
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .custom-controls button:hover {
        background-color: rgba(0, 0, 0, 0.7);
    }
    .custom-controls i {
        font-size: 1.5em;
    }    

    .carousel-control span{
        font-size: 30px;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }
    .icon-button{
        background: none;
        border: none;
        padding: 0;
        font-size: 30px;
        cursor: pointer;
     }
     .icon-button i {
        color: #000;
     }
     .icon-button:hover i{
        color: none;
     }
}
