/* estilos basicos de css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    color: #d80032;
    background-color: #ffeae3;
    line-height: 2.5;
}
/* estilos para el encabezado*/
.main-header {
    background-color: #ffeae3;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #F3D0D7;
}
.main-header .logo{
   width: 6%;
   height: auto;
   margin-right: 15px;
}

.main-header h1{
    font-size: 25px;
    color: #d80032;
    word-spacing: -2px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin-left: auto;
}

.nav-links li {
    margin-left: 15px;
}

.nav-links a {
    text-decoration: none;
    color: #d80032;
    font-weight: bold;
}

.nav-links a:hover {
    color: #d80032;
}
.menu-toggle{
   font-size: 24px;
   background: none;
   cursor: pointer;
   display: none;
}
.mobile-menu{
   display: none;
   position: absolute;
   top: 70px;
   left: 0;
   width: 100%;
   background-color: #fff;
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.mobile-menu ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

.mobile-menu ul li {
   padding: 15px;
   border-bottom: 1px solid #F3D0D7;
}

.mobile-menu ul li a {
   text-decoration: none;
   color: #333;
}
/* Estilos básicos del encabezado */
.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    background-color: #FFEFEF;
    border-bottom: 1px solid #F3D0D7; /*COLOR DE LAS LINEAS*/
}

.logo {
    height: 50px;
}

/* Menú de navegación normal (computadora) */
.nav-links {
    display: flex; /* Mostrado por defecto en computadoras */
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.nav-links a:visited {
   color: #d80032;
}
.hero-section {
    background-image: url('assets/hero-image.jpg'); /*imagen de fondo*/
    background-size: cover;
    background-position: center;
    color: #920526;
    text-align: center;
    padding: 60px 20px;
}

.hero-section h2 {
    font-size: 100px;
    margin-bottom: 10px;
}
 .hero-section p {
    font-size: 18px;
    margin-bottom: 20px;
 }

 .hero-section button {
    background-color: #921a40;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
 }

 .hero-section button:hover {
    background-color: #921a40;
 }

 /*PRODUCTOS*/
 .products-section {
    max-width: 2000px;
    margin: 0 auto;
    padding: 0px 20px;
 }
 .redes-gallery{
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
   justify-content: center;
   margin: 20px auto;
 }
 .redes-section{
   display: flex;
   flex-direction: column; /* Asegura que los elementos estén en columna */
   align-items: center;    /* Centra horizontalmente */
   padding: 20px;
 }
 .redes-card button:hover {
   background-color: #3D0C11;
}
.redes-section h2 {
   margin-bottom: 20px; /* Añade espacio entre el título y las cards */
   font-size: 24px;
}

.redes-card:hover {
   transform: scale(1.05);
   box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
}
 .products-section h2 {
    font-size: 28px;
    margin-bottom: 5px;
    word-spacing: -2px;
 }
 .product-gallery {
   display: grid;
   /*flex-wrap: wrap;*/
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* columnas por fila */
   gap: 50px; /* Espaciado entre las tarjetas */
   justify-content: center /*tra el contenido */
 }
 .product-card {
   box-sizing: border-box;
   width: 100%;
   max-width:300%;
   height: 100%;
   background-color: #FFEFEF;
   border: 1px solid #ddd;
   border-radius: 8px;
   text-align: center;
   padding: 10px;
   text-decoration: none;
   color: #643843; /* Cambia el color de texto */
   transition: transform 0.3s ease;
   flex-shrink: 0;
   overflow: hidden;
 }
 .product-card img {
   width: 100%;
   height: 300px;
   height: auto;
   border-radius: 8px 8px 0 0;
   object-fit: contain;
}
.image-carousel {
   position: relative;
   width: 100%;
   overflow: hidden;
}
.carousel-container{
   display: flex;
   transition: transform 0.7s ease-in-out;
}
.carousel-container img{
   width: 100%;
   flex-shrink: 0;
}
.carousel-prev,
.carousel-next{
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   background-color: rgba(0, 0, 0, 0.5);
   color: #fff;
   border: none;
   cursor: pointer;
   padding: 10px;
   z-index: 10;
}
.carousel-prev{
   left: 10px;
}
.carousel-next{
   right: 10px;
}
 .product-card:hover{
   transform: scale(1.05); /*agregar un efecto*/
 }
 .redes-card{
   background-color: #F4D9D0;
   border: 1px solid #F3D0D7;
   border-radius: 8px;
   padding: 20px;
   text-align: center;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   width: 200px;
   transition: transform 0.3s ease, box-shadow 0.3s ease;  
 }
 .redes-card img{
   max-width: 100%;
   height: auto;
   margin-bottom: 10px;
   border-radius: 5px;
 }
 .redes-card h3 {
   margin: 10px 0;
   font-size: 1.2rem;
   color: #3D0C11;
}
.redes-card p{
   font-size: 1rem;
   color: #3D0C11;
   text-align: center;
   margin-top: 10px;
   font-style: italic;
   text-decoration: none;
}
 .product-card h3 {
    margin: 10px 0;
    font-size: 18px;
    color: #3D0C11;
 }
 .product-card p {
    font-size: 14px;
    color: #643843;
    margin-bottom: 10px;
    white-space: nowrap;
 }
 .product-card span {
    font-weight: bold;
    color: #643843;
 }
 .brand-section{
   padding: 40px 20px;
   background-color: #ffeae3;
   margin-top: 30px;
 }
 .brand-gallery{
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
   justify-content: center;
   margin: 20px auto;
 }
 .brand-card{
   background-color: #F4D9D0; /*color de atras de marcas*/
   border: 1px solid #F3D0D7;
   border-radius: 8px;
   padding: 20px;
   text-align: center;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   width: 200px;
   transition: transform 0.3s ease, box-shadow 0.3s ease; 
 }
 .brand-card img {
   max-width: 100%;
   height: auto;
   margin-bottom: 10px;
   border-radius: 5px;
}

.brand-card h3 {
   margin: 10px 0;
   font-size: 1.2rem;
   color: #3D0C11; /*color letras*/
}

.brand-card button {
   background-color: #007bff;
   color: #fff;
   border: none;
   border-radius: 4px;
   padding: 10px 15px;
   cursor: pointer;
   transition: background-color 0.3s ease;
}

.brand-card button:hover {
   background-color: #0056b3;
}

.brand-card:hover {
   transform: scale(1.05);
   box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
}

 /*sobre nosotros*/
 .about-section {
    padding: 40px 20px;
    background-color: #ffeae3;
    text-align: center;
 }
 .about-section h2 {
    font-size: 28px;
    margin-bottom: 15px;
 }
 .about-section p {
    font-size: 16px;
    color: #643843;
    max-width: 600px;
    margin: auto;
 }
 /*formulario de contacto*/
 .contact-section {
    padding: 40px 20px;
    text-align: center;
    display: flex;       /* Usamos flexbox */
    justify-content: center;  /* Centra horizontalmente */
    align-items: center;      /* Centra verticalmente */
    height: 85vh;       /* Establece una altura de 100vh (altura completa de la ventana) */
 }
 .contact-section h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
 }
form{
    max-width: 400px;
    margin-bottom: auto;
 }
form label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #643843;
 }
form input,
form textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #F3D0D7;
    border-radius: 5px;
 }

form button{
    background-color: #921a40;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
 }
form button:hover{
    background-color: #921a40;
}

.main-footer {
    background-color: #643843;
    color: #fff;
    text-align: center;
    padding: 20px;
}
.main-footer p {
    font-size: 14px;
}
.explore-button{
   display: inline-block;
   padding: 10px 20px;
   background-color: #643843; /* Color del botón */
   color: white; /* Color del texto */
   text-align: center;
   text-decoration: none; /* Sin subrayado */
   border-radius: 5px; /* Bordes redondeados */
   font-size: 16px; /* Tamaño de fuente */
   transition: background-color 0.3s ease; /* Animación al pasar el cursor */
}
.explore-button:hover{
   background-color: #804958; /*color al pasar el cursor*/
}
.icon-button{
   background: none;
   border: none;
   padding: 0;
   font-size: 30px;
   cursor: pointer;
}
.icon-button i {
   color: #000;
}
.icon-button:hover i{
   color: none;
}